body{
input[type="submit"]
background-image:url(img.jpg);
{
width:200px;
height:30px;
	font-size:20px;
	color:black;
	background:#ff1aff;
	border:none;
	border-radius:5px;
	margin:50px;
}
input[type="submit"]:hover
{
cursor:pointer;
background-color:pink;
}
h1{
	color:blue;
	font-size:30px;
}
input{
	height:30px;
	width:90%;
	
	font-size:15px;
	border-radius:5px;
	border:1px solid grey;
	position:left;
}
.reset-box{
width:320px;
height:420px;
background:#273746;
color:white;
top:50%;
left:50%;
position:absolute;
transform:translate(-50%,-50%);
box-sizing:border-box;
}